<!--The ng-controller directive tells Angular the scope of the controller-->
<!--In this case, the EditCtrl is given the scope of the <div> element where it is called-->
<!--We then use EditCtrl (as ctrl) to manipulate elements within this <div>-->
<div ng-controller="EditCtrl as ctrl">
    <div class="page-header">
        <h1>Awesome Grocery Edit Products
            <small>Edit</small>
        </h1>
    </div>
    <br/>
    <!--
    <form name="queryForm" novalidate class="form-inline">
        <div class="form-group">
            <label for="dept_no">Department number:</label>
            <input id="dept_no" class="form-control" type="text" name="dept_no"
                   placeholder="Enter dept number"
                   ng-model="ctrl.dept_no"
                   ng-change="ctrl.initDetails()"
                   required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info form-control"
                    ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                Search
            </button>
        </div>
    </form>
-->
    <hr>
    <table class="table table-striped" ng-show="ctrl.showDetails">
        <thead>
        <tr>
            <th>Grocery Details</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Barcode</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                {{ ctrl.result.upc12 }}
                <button type="button" class="btn btn-link btn-sm" ng-click="ctrl.toggleEdit()">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
                </div>
                 <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.upc12">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateGrocery()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>Brand Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.brand }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                               <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.upc12">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateGrocery()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>

        </tr>
        <tr>
            <td>Product Name</td>
            <td>
                <div ng-hide="ctrl.isEditorOn">
                    {{ ctrl.result.name }}
                    <button type="button" class="btn btn-link btn-sm"
                            ng-click="ctrl.toggleEditor()">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    </button>

                </div>
                                     <div ng-show="ctrl.isEditorOn">
                    <div class="input-group">
                        <input type="text" class="form-control" size="1" ng-model="ctrl.result.upc12">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-success"
                                    ng-click="ctrl.updateGrocery()">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-danger"
                                    ng-click="ctrl.toggleEditor()">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        
        </tbody>
    </table>
</div>

