<!--The ng-controller directive tells Angular the scope of the controller. In this case, the SearchCtrl is given
the scope of the <div> element where it is called. We then use SearchCtrl (as ctrl) to manipulate elements within
this <div>-->
    
<div ng-controller="SearchCtrl as ctrl">
    <div class="page-header">
        <h1>Awesome Grocery Products List</h1>
    </div>
    <br/>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">
        <div class="form-group">
            <input id="searchString" class="form-control" type="text"
                   name="searchString"
                   ng-model = "ctrl.searchString"
                   size="50"
                   placeholder="Enter Brand / Product Name" />
        </div>
    </form>
    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Barcode</th>
            <!-- <th>Brand</th> -->
            <th><a href="#" ng-click="orderByField='brand'; reverseSort = !reverseSort">Brand<span ng-show="orderByField == 'brand'"> <span ng-show="!reverseSort">v</span><span ng-show="reverseSort"></span></span></a></th>
            <!-- <th>Product Name</th> -->
            <th><a href="#" ng-click="orderByField='name'; reverseSort = !reverseSort">Product Name<span ng-show="orderByField == 'name'"> <span ng-show="!reverseSort">v</span><span ng-show="reverseSort"></span></span></a></th>
        </tr>
        </thead>
        <tbody>
      
        
        <tr class="animation" ng-repeat="grocery in ctrl.grocery | filter:ctrl.searchString | orderBy:orderByField:reverseSort">
             
            <td><img src="http://www.barcodes4.me/barcode/c128a/{{ grocery.upc12 }}.png?IsTextDrawn=1" /> </td>
            <td>{{ grocery.brand }}</td>
            <td>{{ grocery.name }}</td>
            <td><button type="button" class="btn btn-link btn-sm">
                 <!-- ng-click="ctrl.toggleEditor()" -->
                 <!--
                 <a href="#!/editWithParam" data-target="#edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                 -->
                       <a href ng-click="ctrl.goEdit(grocery.upc12)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                    </button></td>
                   
        </tr>
        </tbody>
    </table>
</div>